doc
config/database.yml
*.sublime-project
*.sublime-workspace
.yardoc
*.jar
Vagrantfile

# Rails .gitignore from `github/gitignore`
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/db/sphinx
/config/*.sphinx.conf
/public/assets/*
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html

.rvmrc

app/assets/.DS_Store
app/assets/images/.DS_Store
*.pdf

.DS_Store
config/initializers/quiet_assets.rb
*.swp
.DS_Store
